:root {
/* Personalizadas */
  --left-gradiente-dark: var(--dark-grad, radial-gradient(ellipse at 50% 50%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 50% 50%, #bf398910 0, transparent 75%)) ;
  --left-gradiente-light: var(--light-grad, radial-gradient(ellipse at 50% 50%, #c61d1020 0, transparent 75%), radial-gradient(ellipse at 50% 50%, #ffa70050 0, transparent 75%)) ;
  --letragradiente-dark: linear-gradient(45deg, #ff0000, #ffff00, #ffffff);
  --letragradiente-light: linear-gradient(45deg, black, darkred, var(--fonte));
  /*--gradiente-dark: var(--dark-grad, radial-gradient(ellipse at 50% 50%, #ffdead20 0, transparent 65%), radial-gradient(ellipse at 50% 50%, #ffdede10 0, transparent 65%)) ;*/
  --gradiente-dark: var(--dark-grad, radial-gradient(ellipse at 50% 50%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 50% 50%, #bf398910 0, transparent 75%)) ; 
  --gradiente-light: var(--light-grad, radial-gradient(ellipse at 50% 50%, #c61d1020 0, transparent 55%), radial-gradient(ellipse at 50% 50%, #ffa70050 0, transparent 75%)) ;
  --branco-google: #f2f2f2 ;
  --amarelo-google: #ffa700 ;
  --amarelo-google-transp: #ffa70010 ;
  --azul-google: #0057e7 ;
  --azul-escuro-google: #3f51b5 ;
  --vermelho-google: #d62d20 ;
  --verde-google: #008744 ;
  --amarelo-servo: #faae30;
  --laranja-servo: #f68243;
  --lilas-servo: #f03278;
  --verde-servo: #4fc066;
  --roxo-google: #673ab7 ;
  --abobora-google: #f44336 ;
  --white-solarized: #eee8d5 ;
  --anil-aleatorio: #283784 ;
  --bordas: #383f48 ;
  --fundo: #22272e ;
  --green: #347d39 ;
  --blue: #539bf5 ;
  --separador: #383f48 ;
  --fonte: #a0acb9 ;
  --sticker-fundo: var(--gradiente-dark) ;
  --git-hub-dark-back: #22272e ;
  --git-hub-roxo-escuro-transp: #bf398910 ;
  --azul-vibrante: #01bfff ;
  --creme: #f5f5dc ;
  --largura-texto: calc(650px + 10vw);
}

:root[data-tema="escuro"] {
  --background-img: url('pix/night.jpg'); 
  --hover-botao: var(--azul-escuro-google);
  --h1: var(--laranja-servo);
  --h2: var(--lilas-servo);
  --h3: var(--amarelo-servo);
  --negrito: tan; 
  --switch-shadow: -2px 1px 10px #ffffff;
  --fundo-carousel: none;
  --code-text: navajowhite;
  --strong-color: navajowhite ;
  --texto-dim: #555555;
  --letragradiente: white;
  --katex-color: var(--fonte);
  --button-color: #21262d ;
  --button-hover: #373e47 ;
  --headings: navajowhite ;
  --bordas: #383f48 ;
  --marca-texto: #aeff77;
  --fundo-invertido: var(--white-solarized) ;
  --fundo-input: #313131;
  /*
  */
  --green: #347d39 ;
  --separador: #383f48 ;
  --fonte: #a0acb9 ;
  --fonte-invertida: black;
  --frase: white ;
  --frase-show: gray ;
  --frase-hover: white ;
  --autor: var(--amarelo-servo);
  --sticker-fundo: var(--gradiente-dark) ;
  --links: var(--azul-vibrante) ;
  --links-visitados: var(--blue) ;
  --link-hover: white ;
  --termo: tomato ;
  --link-barra: var(--laranja-servo);
  /*
  --fundo: var(--gradfundo);
  */
  --fundo: #26262d;
  --gradfundo: linear-gradient(to bottom, #26130f, #001b3f);
}
:root[data-tema="claro"] {
  --background-img: url('pix/day.jpg'); 
  --hover-botao: #904500 ;
  --h1: var(--azul-escuro-google);
  --h2: var(--roxo-google);
  --h3: var(--anil-aleatorio);
  --switch-shadow: 3px 1px 20px red;
  --fundo-carousel: var(--left-gradiente-light);
  --marca-texto: yellow;
  --code-text: indigo;
  --negrito: #b0132d;
  --texto-dim: var(--fundo-invertido);
  --letragradiente: black;
  --katex-color: black ;
  --button-color: #ebc7a2 ;
  --button-hover: #deadbb ;
  --headings: var(--azul-escuro-google);
  --sticker-fundo: var(--gradiente-light) ;
  --fundo: #dd866a; 
  --gradfundo: linear-gradient(to top, #e2725b , tan);
  --fundo-invertido: var(--git-hub-dark-back) ;
  --fundo-input: wheat;
  --green: #347d39 ;
  --blue: #539bf5 ;
  --separador: gray ;
  --bordas: gray ;
  /*
  --strong-color: #101010;
  */
  --fonte: #303030;
  --strong-color: var(--azul-google);
  --fonte-invertida: var(--white-solarized);
  --links: darkblue ;
  --links-visitados: var(--azul-google) ;
  --link-hover: black ;
  --frase-show: var(--texto-dim) ;
  --frase-hover: darkred ;
  --frase: var(--verde-google) ;
  --autor: var(--roxo-google);
  --sticker-font: var(--fundo-invertido) ;
  --termo: darkred;
}
body {
 /*
  "Google Sans", "Noto Sans", "Source Sans Pro", "Open Sans", "Lucida Sans" , monospace;
  background: var(--fundo);

   background: var(--background-img) no-repeat ;
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;

  */
  background: var(--fundo);
  background-attachment: fixed;
  color: var(--fonte) ;
  max-width: 100vw ;
  scroll-behavior: smooth ;
  scrollbar-color: gray #151515 ;
  font-family: "Fira Sans", 'Lato', sans-serif;
  font-weight: normal ;
  font-size: 1em ;
  padding: 0%;
}

#switch {
  /*
  position: absolute;
  left: 5vw;
  top: 1vw;
  font-size: 200%;
  */
  margin-right: 1em;
  border: none;
  background: none;
  text-shadow: var(--switch-shadow);
}
a#switch {
  /*
  transition: box-shadow 200ms ease-in-out;
  margin-right: 0.5em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
  */
  box-shadow: none;
  font-size: 200%;
}
a#switch:hover {
  /*
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),inset  0 1px 5px rgba(0, 0, 0, 0.5);
  */
}

@media only screen and (max-width: 800px){
  #switch {
    margin-right: 0em;
  }
  a#switch {
   font-size: 150%;
  }
}

.importante {
  background-color: #983500;
  font-weight: normal;
  border-radius: 3px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: black;
  text-indent: 0%;
  margin-left: 2em ;
  margin: auto;
  padding: 0.5em;
  max-width: 80%;
}

.center {
  text-indent: 0%;
  align: center ;
  text-align: center ;
  margin-left: auto;
  margin-right: auto;
}
.left {
  padding-left: 0px;
  margin-left: 0px;
  align: left;
  text-align: left;
}
.right{
  margin: auto;
  align: right;
  text-align: right ;
}

#resultado{
  text-align: start;
  text-indent: 0%;
  font-weight: bold;
  color: var(--negrito);
}
#result {
  color: var(--fonte) ;
}

.sticker {
  /*
  border: 1px solid var(--bordas);
  */
  margin-left: 5vw;
  background: var(--sticker-fundo);
  border-radius: 5px;
  text-align: start;
  width: fit-content;
  font-weight: bold ;
  padding: 0.5em;
  max-width: 80%;
  overflow: hidden; 
  color: var(--sticker-font); 
}
.etiqueta {
  overflow: wrap;
  margin-left: 5vw;
  padding: 0.5em;
  margin-right: auto;
  max-width: var(--largura-texto);
  /*
  border: 1px solid var(--bordas);
  */
  background: var(--sticker-fundo);
  border-radius: 5px;
  text-align: center;
  overflow: hidden; 
  color: var(--sticker-font); 
  font-weight: normal;
  transition: color 4s ease-in-out, font-weight 2s ease-in-out;
}
.etiqueta:hover{
  color: var(--strong-color);
}
/*.sticker:hover {
  font-weight: bold;
  border-right: 1px solid tomato;
  border-top: 1px solid tomato;

}*/

.duploflex {
  display: flex;
  justify-content: flex-start;
  /*
  display: inline-flex;
  */
  margin-right: 5vw;
}
.duploflex div {
  max-width: 40%;
}
div.duploflex p{
  width: 100%;
}

label {
  color: var(--fonte) ;
}
div#code{
  /*
  background: var(--fundo-invertido) ;
  border-radius: 7px;
  font-weight: normal ;
  */
  text-indent: 3%;
  font-family: monospace;
  color: var(--code-text); 
}
pre{
  margin-left: 5vw;
  align: center;
  color: springgreen;
}
pre code {
}
code {
  font-family: monospace;
  text-align: center ;
  font-size: 100% ; /* Tem que por pq o code padrão reduz */
  color: var(--code-text);
}

/* KATEX E MERMAID */
/* Para Katex, veja o shortcode com css integrado. */
.mermaid svg {
  align: center
}



::-webkit-scrollbar {
  width: .66vw;
  background-color: #151515;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

a {
  color: gold ;
  text-decoration: none ;
}

#tagcloud {
  align: center;
  text-align: center !important;
  max-width: 50% !important;
  margin: auto;
  padding: 0;
}

#tagcloud li {
  display: inline-block ;
}

#tagcloud ul {
  align: center ;
}

#tagcloud a {
  font-size: 1.2em;
}

a[href]:visited{
  color: var(--links-visitados) ;
}
a[href] {
  color: var(--links) ;
}
a[href]:visited:hover, a[href]:hover{
  color: var(--links-hover) ;
}

/* PARAGRAFOS HEADING H1 H2 H3 */
h1, h2, h3 {
  /*
  */
  font-size: 125%;
  padding: 0%;
  padding-top: 1em;
  margin: 0vw;
  margin-bottom: 1vw;
  margin-left: 5vw;
  text-indent: 0% ;
  font-weight: bold;
  text-align: start;
  max-width: 90vw;
}
h2 {
  color: var(--h2);
}
h2::before {
  content: "#  ";
  color: var(--strong-color);
}
h1 {
  color: var(--h1);
  margin-left: 25vw;
  padding: 0em;
  font-size: 120%;
}
h3 {
  color: var(--h3);
  margin-left: 10vw;
  font-size: 105%;
  font-weight: normal;
}
h3::before {
  content: "+  ";
  color: var(--strong-color);
}
/* DIVISOR SEPARADOR HR */
hr {
  /* 
  margin-top: 8%;
  margin-bottom: 2%;
  */
  margin-left: clamp(5vw, 5%, 50%);
  width: 25%;
  color: var(--separador);
  align: start;
}

footer {
  margin-left: 5vw;
  text-align: start ;
}

iframe {
  margin-left: 5vw;
  max-width: 90vw;
}
img {
  /*
  max-height: 400px ;
  */
  margin-left: 1em;
  display: block ;
  max-width: 500px;
  max-height: 500px;
}

#img-div p{
  /*
  padding-left: 5vw;
  */
  text-align: start;
  margin-left: 5vw;
  font-size: 0.8em;
  font-style:oblique;
  max-width: 65vw;
}

strong {
  font-weight: bold;
  color: var(--negrito);
  border-radius: 2px;
  /*
  color: var(--strong-color) ; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
}

.taglist {
  text-align: start; 
  clear:both;
  margin-left: 5vw;
  margin-bottom: 2em ;
  margin-top: 2em ;
}

/* bitcoin
img[alt="BTC Logo"],
img[alt="ETH Logo"],
img[alt="XMR Logo"] {
max-width: 1em ;
max-height: 1em ;
display: inline ;
}*/

article {
  background-color: #21262d ;
  padding: 2%;
  border: 1px solid #383f48 ; 
  border-radius: 8px ;
}

.older-article {
  display: none ;
}

.hidden {
  display: none !important ;
}
.show {
  display: block !important ;
}
ul#search-output {
  padding: 0vw;
}
#search-output li {
  display: block;
}

#files li{
  columns: 2;
  text-align: center;
  display: block;
  padding: 0.5em;
}
#files li:hover{
  background-size: cover;
  background: var(--fundo-input);
  border-radius: 7px;
}
a .matched-recipe{
  font-size: 0.5em;
}

input#search {
  /*
  margin-right: auto ;
  border-radius: 7px;
  color: #aab7c4 ;
  color: var(--strong-color);
  border-bottom: 1px solid var(--bordas) ; 
  */
  font-size: 100%;
  background: var(--fundo-input) ;
  text-indent: 2%;
  border: none;
  margin-left: 5vw;
  display: block ;
  padding: 0em;
  padding-bottom: 0.2rem ;
  width: 45vw; 
  height: 2em ;
  text-align: start;
}
input#search::placeholder {
  /*
  color: var(--texto) ;
  */
  text-align: start;
  text-indent: 2%;
}
p input#search { /* Não sei de onde saiu esse p na _index... */
  margin-left: 0;
}

.matched-recipe {
  font-size: 1.5em;
  display: list-item !important ;
}

.list-searched {
  column-count: 2 !important;
  list-style: decimal ;
  max-width: 600px ;
  margin: auto ;
  color: salmon ;
}

#tag_culinária:before { content: "🍸🍕 " ;}
#tag_receitas:before { content: "🍅🍲 " ;}
#tag_linux:before { content: "🐧 " ;}
#tag_tecnologia:before { content: "📡💻 " ;}
#tag_mecanica:before { content: "🔧⚙️ " ;}
#tag_projetos:before { content: "👷🏽‍♂️🚧 " ;}
#tag_arqueologia:before { content: "🗿 " ;}
#tag_programação:before { content: "🧑🏽‍💻 " ;}
#tag_rust:before { content: "🚀 " ;}
#tag_filosofia:before { content: "🧠💭 " ;}
#tag_nefrologia:before { content: "🥔 " ;}
#tag_pneumologia:before { content: "🫁 " ;}
#tag_ciência:before { content: "🧪👨🏽‍🔬 " ;}
#tag_emergência:before { content: "🚨 " ;}
#tag_calculadoras:before { content: "🔢 " ;}
#tag_medicina:before { content: "🩺💉 " ;}
#tag_obstetricia:before { content: "🤰 " ;}
#tag_inteligência:before { content: "🌐 " ;}
#tag_guidelines:before { content: "🚩 " ;}
#tag_viagem:before { content: "🏖️ " ;}
#tag_destinos:before { content: "🧳 " ;}
#tag_alcohol:before { content: "🍸 " ;}
#tag_american:before { content: "🇺🇸 " ; }
[id*="tag_estados"]:before { content: "🇺🇸 " ; }
#tag_apple:before { content: "🍎 " ; }
#tag_argentinian:before { content: "🇦🇷 " ; }
#tag_asian:before { content: "🥢 " ; }
#tag_australian:before { content: "🇦🇺 " ;}
#tag_austrian:before { content: "🇦🇹 " ;}
#tag_bacon:before { content: "🥓 " ; }
#tag_beans:before { content: "🫘 " ; }
#tag_beef:before { content: "🐄 " ; }
#tag_belgian:before { content: "🇧🇪 " ; }
#tag_brasil:before { content: "🇧🇷 " ; }
#tag_bread:before { content: "🍞 " ;}
#tag_breakfast:before { content: "🌅 " ;}
#tag_broccoli:before { content: "🥦 " ;}
#tag_cake:before { content: "🍰 " ; }
#tag_cheese:before { content: "🧀 " ; }
#tag_chicken:before { content: "🐔 " ;}
#tag_chinese:before { content: "🐉 " ; }
#tag_chocolate:before { content: "🍫 " ; }
#tag_christmas:before { content: "🎄 " ; }
#tag_cookies:before { content: "🍪 " ;}
#tag_corn:before { content: "🌽 " ;}
#tag_curry:before { content: "🍛 " ; }
#tag_dessert:before { content: "🍮 " ; }
#tag_dominican:before { content: "🇩🇴 " ;}
#tag_drink:before { content: "🍹 " ;}
#tag_duck:before { content: "🦆 " ; }
#tag_dumpling:before { content: "🥟 " ;}
#tag_dutch:before { content: "🇳🇱 " ;}
#tag_easter:before { content: "✝️ " ; }
#tag_eggs:before { content: "🥚 " ; }
#tag_english:before { content: "🏴󠁧󠁢󠁥󠁮󠁧󠁿 " ; }
#tag_fasting:before { content: "☦️ " ; }
#tag_filipino:before { content: "🇵🇭 " ; }
#tag_fish:before { content: "🐟 " ; }
#tag_french:before { content: "🇫🇷 " ; }
#tag_fruit:before { content: "🍇 " ; }
#tag_german:before { content: "🇩🇪 " ; }
#tag_greek:before { content: "🇬🇷 " ; }
#tag_indian:before { content: "🇮🇳 " ; }
#tag_irish:before { content: "🇮🇪 " ; }
#tag_israeli:before { content: "🇮🇱 " ; }
#tag_italian:before { content: "🇮🇹 " ; }
#tag_japanese:before { content: "🇯🇵 " ; }
#tag_lebanese:before { content: "🇱🇧 " ; }
#tag_lemons:before { content: "🍋 " ;}
#tag_liquour:before { content: "🥃 " ;}
#tag_lunch:before { content: "🍱 " ; }
#tag_mediterranean:before { content: "🫒 " ; }
#tag_méxico:before { content: "🇲🇽 " ; }
#tag_milk:before { content: "🥛 " ; }
#tag_mushrooms:before { content: "🍄 " ;}
#tag_pancake:before { content: "🥞 " ; }
#tag_pasta:before { content: "🍝 " ;}
#tag_pastry:before { content: "🧁 " ;}
#tag_peruvian:before { content: "🇵🇪 " ;}
#tag_pie:before { content: "🥧 " ;}
#tag_pizza:before { content: "🍕 " ; }
#tag_polish:before { content: "🇵🇱 " ;}
#tag_pork:before { content: "🐖 " ;}
#tag_portuguese:before { content: "🇵🇹 " ;}
#tag_potato:before { content: "🥔 " ; }
#tag_quebec:before { content: "⚜️ " ; }
#tag_quick:before { content: "🏃 " ; }
#tag_raw:before { content: "🍖 " ;}
#tag_rice:before { content: "🍚 " ; }
#tag_russian:before { content: "🇷🇺 " ;}
#tag_salad:before { content: "🥗 " ;}
#tag_sandwich:before { content: "🥪 " ;}
#tag_seafood:before { content: "🦐 " ; }
#tag_soup:before { content: "🍜 " ;}
#tag_sourdough:before { content: "🥖 " ;}
#tag_southwest:before { content: "🤠 " ; }
#tag_spanish:before { content: "🇪🇸 " ; }
#tag_spice:before { content: "🧂 " ; }
#tag_spicy:before { content: "🌶️ " ; }
#tag_spread:before { content: "🧈 " ; }
#tag_steak:before { content: "🥩 " ; }
#tag_stew:before { content: "🍲 " ; }
#tag_swedish:before { content: "🇸🇪 " ; }
#tag_sweet:before { content: "🍯 " ; }
#tag_swiss:before { content: "🇨🇭 " ; }
#tag_thai:before { content: "🇹🇭 " ;}
#tag_tomato:before { content: "🍅 " ;}
#tag_tunisian:before { content: "🇹🇳 " ; }
#tag_turkey:before { content: "🦃 " ; }
#tag_turkish:before { content: "🇹🇷 " ; }
#tag_ukrainian:before { content: "🇺🇦 " ; }
#tag_vietnamese:before { content: "🇻🇳 " ; }
#tag_wine:before { content: "🍷 " ; }
.cryptocontainer {
  display: flex ;
  flex-wrap: wrap ;
  justify-content: center ;
}
.cryptoinfo {
  max-width: 350px ;
  text-align: center ;
  padding-left: 10px ;
  padding-right: 10px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cryptoinfo code {
  font-size: small ;
  overflow-wrap: break-word ;
}
.qr {
  max-height: 150px; 
  padding-top: 10px;
  padding-bottom: 10px;
}

.js-only { display: none ; }

/* TABELAS */
table {
  /*
  margin: auto;
  align: center ;
  */
  margin-left: 5vw;
  border: 1px solid var(--fonte);
  border-collapse: collapse ;
}
th {
  background-color: var(--fundo-input); 
  color: var(--fonte);
  font-weight: bold;
}
th, td {
  border: 1px solid var(--fonte);
  border-collapse: collapse ;
}
table p{
  margin-left: 1vw;
}
/*
table tr:nth-child(even) {
  background-color: none;
}

table tr:nth-child(odd) {
  background-color: var(--fundo-invertido); 
  color: var(--fonte-invertida);

}
*/


/* UL OL LI UNORDERED LISTS */
ul strong,
ol strong {
  background: none;
}
.listing-list ul{
  text-align: start;
  padding: 5vw;
  margin-left: 0%;
}
.listing-list li{
  /*
  margin-left: auto;
  margin-right: auto;
  width: clamp(100px, 50%, 85%);
  */
  list-style-type: none;
  max-width: 80vw;
  padding: 0vw;
  margin-left: 0%;
}

a {
  word-wrap: break-word;
}

ul#artlist, 
ol#artlist {
  /*
  max-width: 80% ;
  columns: 2 ;
  gap: 20% ;
  margin-left: auto ;
  columns: 2;
  margin-right: auto ;
  margin-left: 5vw;
  gap: 0.5em ;
  width: clamp(50vw, 90%, 70%);
  */
  max-height: 70vh; /* necessario pra nao estourar tela -- futuro */
  overflow: hidden ; /* necessario pra nao estourar tela -- futuro */
  min-height: 60vh;
  list-style-type: none;
  width: 90%;
  max-width: 90vw;
  text-align: start;
  margin-left: 0vw;
  padding-left: 5vw;
}
#artlist li {
  margin-left: 0vw;
}
#artlist li:nth-child(n+21) {
  display: none;
}

li {
  transition: color 200ms ease-in-out; 
  /*
  padding: 0%;
  */
}
ol, ul {
  /*
  font-size: 100%;
  padding-left: 5%;
  margin-left: auto ;
  margin-right: auto ;
  padding-left: 5vw;
  */
  max-width: calc(var(--largura-texto) - 5%); 
  margin-left: 5vw;
}
ul {
  /*
  list-style-type: none;
  list-style-type: "  + ";
  */
  margin-left: 5vw;
}
ol {
  margin-left: 5vw;
}
li a:hover {
  color: var(--fonte);
  /*
  border-radius: 4px ;
  background-size: cover;
  list-style-type: "+  ";
  background: var(--fundo-input) ;
  */
}
li::before{
  /*
  margin-left: 0%;
  align: start;
  padding: 0%;
  font-weight: bold ;
  color: var(--fundo-input) ;
  width: 10px;
  */
}


#autor{
  /*
  padding-left: 20%;
  font-family: "San Francisco Display Thin";
  */
  margin-left: 15vw;
  color: var(--autor) ; 
  font-weight: normal;
}
#frase{
  margin-left: 5vw;
}
#autor, #frase{
  /*
  padding-left: 20%;
  margin-left: auto;
  margin-right: auto;

  */
  text-indent: 0% !important;
  max-width: 80vw;
  text-align: start;
}
.frase{
  transition: text-shadow 5s ease-in-out, color 4s ease-in-out;
  align: center ;
  text-align: center ;
  font-style: italic; 
  /* 
  color: var(--frase);  
  font-size: 1.5em;
  font-size: 1em; 
  */
  color: var(--fonte);
  padding-left: auto;
  padding-right: auto;
  border-radius: 5px ;
  text-shadow: 1px 1px 20px var(--fonte);
}
.frase.show {
  text-shadow: none;
  color: var(--frase-show); 
}
.frase:hover {
  color: var(--frase-hover); 
}

.caveira {
  transition: font-size 2s ease-in-out;
}

.caveira.show{
  font-size: 3em;
}

img {
  border-radius: 5px ;
  margin-left: 5vw;
}

/*input[type="text"],
input[type="number"],
input[type="email"],*/
input, textarea {
  /* width: 100%; */
  /* padding: 10px; */
  border-radius: 5px; 
  /* box-sizing: border-box;  Inclui padding e borda na largura total */
  background-color: var(--fundo-input) ;
  border: 1px solid var(--bordas); 
  color: var(--font-invertida) ;
  height: 2em ;
}

/* BOTÕES BUTTON SELETOR SELECT MENU */
button, select {
  padding-top: 1%; 
  padding-bottom: 1%; 
  border: 1px solid #383f48 ; 
  background-color: var(--button-color) ;
  color: var(--font); 
  border-radius: 7px; 
  cursor: pointer; 
  font-size: 1em; 
}
button:hover {
  background-color: var(--button-hover) ;
  border: 1px solid #21262d; 
}
button:active {
  background-color: #373e47 ;
  border: 1px solid #21262d; 
}

p {
  /*
  margin-right: auto;
  text-indent: 3%;
  */
  max-width: var(--largura-texto);
  margin-left: 5vw;
  text-align: start;
}
#question-container {
  display: block ;
  align-content: center ;
  padding: 0%;
  max-width: 85%;
}
#question-container p {
  max-width: 100% ;
}
#info-question {
  display: flex;
  align-content: center;
}
#info-question button {
  margin-left: auto;
  margin-right: auto;
}
p.texto-questao {
  margin-left: 5vw;
}
#resolver {
  margin-left: 5vw;
}
input[name="answer"] {
  margin-left: 5vw;
  padding: 0vw;
  justify-content: center;
}

/* CAROUSEL CARROSSEIS */
[class^=carousel] {
  --largura: 60vw;
  --carouselheight: calc(var(--largura) * 2 / 3);
  border-radius: 7px;
  background: var(--fundo-carousel);
  background-size: fit-content;
  width: var(--largura); 
  display: block;
  margin-left: 5vw;
  /*
  height: var(--carouselheight);
  overflow: hidden;
  border: 1px solid var(--bordas);
  margin-left: auto ;
  margin-right: auto ;
  */
}
.slide img{
  margin: 0%;
  height: 100%;
  border-radius: 7px;
  max-width: 300px; 
}
.slide ul {
  text-align: start;
}
.slide li {
  text-align: start;
}
.button-container {
 /* 
  align: center;
  margin: auto;
  margin-top: none;
  margin-bottom: none;
  height: 200px;
  width: calc(var(--largura) - 5vw);
*/
  justify-content: space-between;
}
.conteudo div.slide {
}
.conteudo div.legend {
  margin-left: 0vw;
}
button[id^="proximo"] {
  text-align: start;
  padding-left: 1%;
}

button[id^="anterior"] {
  padding-right: 1%;
  text-align: end;
}

button[id^="proximo"], button[id^="anterior"] {
 /* 
 color: gray;
 font-weight: bold;
 max-height: 90%;
 padding: 0%;
 font-size: 80%;
 transition: color 1s ease-in-out;
 */
 transition: box-shadow 200ms ease-in-out;
 text-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
 box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
 border: none;
 background: var(--fundo);
 flex: 1;
 margin: 0%;
}
button[id^="proximo"]:hover , 
button[id^="anterior"]:hover {
  color: var(--negrito);
}
button[id^="proximo"]:active, 
button[id^="anterior"]:active{
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),inset  0 1px 5px rgba(0, 0, 0, 0.5);
}
.carousel.slide { 
/*  
  overflow: hidden;
  height: 80%;
  align-content: center;
  object-fit: cover;
  align-content: center;
*/
  display: flex;
  justify-content: center;
}
.carousel.slide iframe {
  display: block ;
  align-content: center;
  justify-content: center;
 /* Problema de tamanho... 'auto' não funciona, 70 do viewheight ficou bom, deixei sem. */
}
.carousel.slide a{
/*  
  background-color: none;
  align-content: center;
  width: 100%;
  object-fit: cover;
*/
  }
.carousel.slide a[href]{
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteudo .legend {
  font-size: 100%;
  color: var(--font); 
  font-style: italic;
  margin-left: 5vw;
  text-align: start;
}
.legend {
  font-size: 80%;
  color: var(--font); 
  font-style: italic;
  margin-left: 5vw;
  text-align: start;
}
.legend p{
  font-size: 90%;
  font-style: italic;
  max-width: 75%;
  margin-left: 0vw;
  color: var(--font); 
  /*
  margin: 0%;
  text-indent: 0%;
  padding-left: 5%;
  */
}
.carousel.slide a[href] img {
  max-height: 100%;
}

/* Limpar campos de input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input {
  text-align: center;
}

/* TABLE OF CONTENT MENU DO ARTIGO SUMARIO */
nav#TableOfContents {
  font-weight: bold;
  white-space: nowrap;
  margin-left: 5vw;
}
nav#TableOfContents ul {
  margin-left: 2vw;
  list-style: none;
  padding-left: 0;
}
nav#TableOfContents li {
  position: relative;
  top: 0;
  bottom: 0;
  width: 1px;
  color: #999;
}
nav#TableOfContents li::before {
  color: var(--fonte) ;
  content: "├";
  position: absolute;
  left: -15px;
}
nav#TableOfContents li:hover {
  list-style-type: none ; 
}
nav#TableOfContents li:first-child::before {
  content: "┌";
}
nav#TableOfContents li li:first-child::before {
  content: "├";
}
nav#TableOfContents li:last-child::before {
  content: "└";
}

/* MENU BARRA FLUTUANTE */
.barra {
  position: sticky;
  top: 0;
  width: fit-content;
  background: var(--sticker-fundo) ;
  margin-left: 5vw;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: 0.5em;
  padding-bottom: 2em;
  padding-top: 0.5em;
  text-align: start;
  font-weight: bold ;
  z-index: 1000;
}

.barra a{
  /* ELEMENTOS DO TEMA BOTAO 3D
  background-size: cover;
  border: 1px solid var(--bordas);
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
  background: var(--fundo) ;
  transition: background 300ms ease-in-out;
  text-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
  */
  color: var(--link-barra);
  transition: text-shadow 500ms ease-in-out;
  background: none;
  text-shadow: none; 
  font-size: 200%;
  font-weight: bold;
  font-feature-settings: "kern" 1;
  font-kerning: normal ;
  padding: 4px ; 
  white-space: nowrap;
  }
.barra a[href]:visited, .barra a[href] {
  color: var(--link-barra);
  /* ELEMENTOS DO TEMA BOTAO 3D
  background: var(--fundo) ;
  */
}
.barra a[href]:visited:hover,
.barra a[href]:hover{
  text-shadow: var(--switch-shadow);
  /* ELEMENTOS DO TEMA BOTAO 3D
  background: var(--hover-botao);
  color: var(--fundo);
  */
}
.barra a[href]:visited:active,
.barra a[href]:active {
  text-shadow: var(--switch-shadow);
  /* ELEMENTOS DO TEMA BOTAO 3D
  background: var(--fonte-invertida);
  color: var(--fundo-invertido);
  */
}

div#counter {
  text-align: start;
  margin-left: 5vw;
  width: fit-content;
  background: var(--gradiente-dark);
  /*
  margin: auto;
  max-width: 80%;
  */
}
.counter{
  /*
  border: 1px solid #383f48 ; 
  background: cover;
  */
  margin-left: 1em ;
  background-color: none;
  border-radius: 7px;
  text-align: justify;
  padding: 0.5em;
  margin: auto;
  overflow: hidden; 
  color: #adbac7 ; 
  font-weight: bold ;
  max-width: 80%;
}

/* SMARTPHONE CELULAR DEVICES */
@media (pointer: coarse) {
  li > a {
    display: inline-block;
    padding: 0.2em 0;
  }
}
.eu {
  max-width: 20%; 
  height: auto;
}
.qrmonero {
  width: clamp(100px, 15%, 10vw);
  height: auto;
}

@media only screen and (max-width: 800px){
  .duploflex {
    display: block;
  }
  .duploflex div {
    max-width: 100%;
  }
  ul {
    /*
    columns: 1 !important;
    */
  }
  body{
    font-size: 120%;
  }
  p {
    max-width: 110% ;
  }
  table {
    font-size: 0.5em;
    max-width: 95% !important;
  }
  .barra {
    position: static;
    text-align: center;
    max-width: 100% ;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .barra a {
    font-size: 150%;
    transition: background 0ms ease-in-out;
  }
  #question-container {
    max-width: 95%;
  }
  #artlist {
    /*
    gap: 1%;
    columns: 1 !important;
    */
    font-size: 80%;
    max-width: 100vw;
  }
  ul#artlist, 
  ol#artlist {
    min-height: none;
    max-height: none;
    /*
    columns: 1 !important;
    */
  }
  #artlist li {
    width: 95;
  } 

  #files, #search-output {
    max-width: 95% ;
  }
  .eu {
    max-width: 50%; 
    height: auto;
  }
  input#search {
    width: 90vw; 
  }
  #files li {
  columns: 1 !important;
  }
  #question-container p{
    font-size: 105%;
  }
  nav#TableOfContents {
  }
  [class^=carousel] {
    --largura: 95vw;
    margin-left: 5vw;
    border-radius: 7px;
    /*
    display: flex;
    --carouselheight: calc(var(--largura) * 2 / 3);
    max-width: var(--largura); 
    border: 1px solid var(--bordas);
    margin-right: auto ;
    height: var(--carouselheight);
    overflow: hidden;
    */
  }
  .button-container {
   /* 
    justify-content: space-between;
    height: calc(var(--carouselheight) * 1 / 10 );
    display: flex;
  */
  }
  .carousel-conteudo {
   /* 
    height: calc(var(--carouselheight) * 9 / 10 );
  */
  }
  button[id^="proximo"], button[id^="anterior"]{
  /* 
  flex: 1;
  padding: 0%;
  margin: 0%;
  max-height: 90%;
  font-weight: bold;
  font-size: 80%;
  */
  }
  .carouselslide { 
  /*  
    display: flex;
    justify-content: center;
    height: 85%;
  */
  }
  .carouselslide a{
    }
  .carouselslide a[href]{
  /*  
    display: flex;
    justify-content: center;
    align-items: center;
   */
  }
  .legend {
    font-size: 80%;
    color: var(--font); 
    font-style: italic;
    text-align: start;
    margin-left: 5vw;
  }
  .conteudo .legend p{
    font-size: 90%;
    color: var(--font); 
    font-style: italic;
    max-width: 75%;  
    /*
    margin-left: 5vw;
    */
  }
  .carouselslide a[href] img {
    /*
    max-height: 100%;
    */
  }
  .etiqueta {
    max-width: 95vw;
  } 

  img {
    max-width: 90vw;
    max-height: 400px;
    object-fit: contain;
  }
}
/*
@media (min-width: 55em) {
  #artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
  #artlist { column-count: 3 ;}
}
*/

/* IMPRESSAO IMPRESSORA PRINT */
@media print {
  a[href] {
    text-decoration: none ;
    color: black ;
  }
  footer,.taglist { display: none ;}
  body {
    margin: 0;
  }
}

/* TEXTO GRADIENTE E COLORIDO */
.texto-gradiente {
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scalidraw {
  display: flex;
}
.scalidraw svg{
  margin-left: 5vw;
  margin-bottom: 0%;
  padding: 0%;
  max-width: 95vw;
}


