:root {
  --vidro: rgba(6, 6, 4, .1);
  --fonte: var(--fontColor); /* Manter compatibildiade dos temas antigos e SVGs */
  --bordas: 1px solid var(--fontColor);
  --borderRadius: 3px;
  background-color: var(--backgroundColor); 
  color: var(--fontColor);
  font-family: 'Fira mono';
}

::selection {
  background: var(--selectionColor);
  color: black;
}

:root[data-tema="light"] {
  --linkColor: #474bbf;
  --linkColorHover: blue;
  --headingsColor: #c24040;
  --darkerBg: darkgray;
  --corTermo: darkred;
  --selectionColor: gray;
  --highLightColor: #c24040;
  --backgroundColor: #eee;
  --borderColor: black;
  --fontColor: #222;
}
:root[data-tema="dark"] {
  --headingsColor: #ecc;
  --darkerBg: #282828;
  --linkColor: #5a5fed;
  --linkColorHover: skyblue;
  --corTermo: tomato;
  --selectionColor: #9e3c3c;
  --highLightColor: #ebc3d9;
  --backgroundColor: #343a3f;
  --borderColor: #666;
  --fontColor: #aaa;
}

body {
  /*
  line-height: 1.6;
  padding: 0 10px;
  max-width: 90vw;
  display: flex;
  */
  margin-top: 2ch;
  font-size: 18px;
  align-items: center;
  margin: 2ch calc(25% - 90px); /* quero ver mais elegante */
}

article {
}

a {
  text-decoration: none;
  color: var(--linkColor);
}
a:hover{
  text-decoration: underline;
  color: var(--linkColorHover);
}

#artlist li {
  display: none;
}

.calculadoras {
  padding: 3ch;
  width: fit-content;
  border: 1px solid var(--borderColor);
}

#autor{
  /*
  */
  margin-top: 2ch;
  white-space: nowrap;
  font-weight: normal;
}
#autor, #frase{
  /*
  */
  text-indent: 0% !important ;
  max-width: 60vw ;
  width: fit-content ;
  text-align: start ;
}
#boasvindas {
  padding: 0;
  text-align: start;
  font-size: 200%;
}
/* Questionável ... */
#maquinaescrever{
  margin-top: 3vw;
}
span#frase{
  border-right: 10px solid var(--borderColor);
  animation: blinkTextCursor 800ms steps(44) infinite normal;
  border-right: 10px solid var(--borderColor);
  border-radius: 0px;
  animation: blinkTextCursor 800ms steps(44) infinite normal;
}
@keyframes blinkTextCursor{
  from{border-right-color: var(--fontColor);}
  to{border-right-color: transparent;}
}


#frase{
  /*
  margin-left: var(--margem);
  transition: filter 2.5s ease-in-out, color 4s ease-in-out ;
  text-shadow: 8px 6px 10px var(--sombra);
  filter: blur(5px);
  */
  font-size: 95%;
  font-style: italic ;
  align: center ;
  text-align: center ;
  color: var(--corFonte) ;
  padding-left: auto ;
  padding-right: auto ;
  border-radius: 5px ;
}
#frase.show {
  /*
  filter: none;
  color: var(--fraseShow);
  */
}
#frase:hover {
  color: var(--fraseHover); 
}

nav.barra {
  display: block;
  /*
  justify-content: flex-end;
  position: fixed;
  top: 0;
  background: var(--backgroundColor);
  margin: 0px;
  width: 100vw;
  z-index: +100;
  */
}
nav {
  font-family: "Fira Mono";
}
nav a {
  padding-right: 0.5vw;
  font-weight: medium;
  color: var(--fontColor);
}
nav.barra a:hover{
  color: var(--fontColor); /* Para evitar ser sobreposto por a{}*/
  font-weight: bold;
  text-decoration: none;
}

mark {
  color: black;
  background-color: var(--highLightColor);
  position: relative;
  white-space: nowrap;
}
mark::before,
mark::after{
  background-color: var(--highLightColor);
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: 100%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-4deg);
}

input{
  margin-top: 2ch;
  outline: none;
  text-indent: 5px;
  background: none;
  height: 2em ;
  text-align: start;
  border: 1px solid var(--fontColor);
}
input:focus{
}
input::placeholder {
}

code {
  font-size: 95%;
  white-space: break-spaces;
}

@media only screen and (max-width: 800px){
  body {
    font-size: 130%;
  }
}

[id^="tag_"] {
  white-space: nowrap;
}
#tag_culinária::before { content: "🍸🍕 " ;}
#tag_apresentações::before { content: "📽️ " ;}
#tag_receitas::before { content: "🍅🍲 " ;}
#tag_linux::before { content: "🐧 " ;}
#tag_tecnologia::before { content: "📡💻 " ;}
#tag_mecanica::before { content: "🔧⚙️ " ;}
#tag_projetos::before { content: "👷🏽‍♂️🚧 " ;}
#tag_arqueologia::before { content: "🗿 " ;}
#tag_programação::before { content: "🧑🏽‍💻 " ;}
#tag_rust::before { content: "🚀 " ;}
#tag_filosofia::before { content: "🧠💭 " ;}
#tag_nefrologia::before { content: "🥔 " ;}
#tag_cardiologia::before { content: "❤️ " ;}
#tag_pneumologia::before { content: "🫁 " ;}
#tag_endocrinologia::before { content: "📊🩸 " ;}
#tag_ciência::before { content: "🧪👨🏽‍🔬 " ;}
#tag_emergências::before { content: "🚨 " ;}
#tag_emergência::before { content: "🚨 " ;}
#tag_calculadoras::before { content: "🔢 " ;}
#tag_guias::before { content: "🔀 " ;}
#tag_medicina::before { content: "🩺💉 " ;}
#tag_imunologia::before { content: "💉🔬 " ;}
#tag_urologia::before { content: "💧♂️ " ;}
#tag_epidemiologia::before { content: "😷 " ;}
#tag_dermatologia::before { content: "🤲 " ;}
#tag_sus::before { content: "🏥 " ;}
#tag_história::before { content: "⌛ " ;}
#tag_política::before { content: "🏛️ " ;}
#tag_neurologia::before { content: "🧠 " ;}
#tag_cirurgia::before { content: "🔪🩸 " ;}
#tag_radiologia::before { content: "🩻 " ;}
#tag_sociologia::before { content: "👩🏻‍💼 " ;}
#tag_ginecologia::before { content: "♀ " ;}
#tag_documentos::before { content: "📄 " ;}
#tag_ferramentas::before { content: "🔧 " ;}
#tag_obstetrícia::before { content: "🤰 " ;}
#tag_perícias::before { content: "🕵️ " ;}
#tag_direito::before { content: "⚖️ " ;}
#tag_penal::before { content: "👮 " ;}
#tag_nutrição::before { content: "💪 " ;}
#tag_infectologia::before { content: "🦠 " ;}
#tag_arboviroses::before { content: "🦟 " ;}
#tag_tabelas::before { content: "🔡 " ;}
#tag_resumos::before { content: "📝 " ;}
#tag_psicologia::before { content: "🎭 " ;}
#tag_filosofia::before { content: "🤔 " ;}
#tag_farmacologia::before { content: "🧪💊 " ;}
#tag_natureza::before { content: "🐞🌻 " ;}
#tag_pediatria::before { content: "👶 " ;}
#tag_obstetricia::before { content: "🤰 " ;}
#tag_inteligência::before { content: "🌐 " ;}
#tag_guidelines::before { content: "🚩 " ;}
#tag_viagem::before { content: "🏖️ " ;}
#tag_destinos::before { content: "🧳 " ;}
#tag_alcohol::before { content: "🍸 " ;}
#tag_american::before { content: "🇺🇸 " ; }
[id*="tag_estados"]::before { content: "🇺🇸 " ; }
#tag_apple::before { content: "🍎 " ; }
#tag_argentinian::before { content: "🇦🇷 " ; }
#tag_asian::before { content: "🥢 " ; }
#tag_australian::before { content: "🇦🇺 " ;}
#tag_austrian::before { content: "🇦🇹 " ;}
#tag_bacon::before { content: "🥓 " ; }
#tag_beans::before { content: "🫘 " ; }
#tag_beef::before { content: "🐄 " ; }
#tag_belgian::before { content: "🇧🇪 " ; }
#tag_brasil::before { content: "🇧🇷 " ; }
#tag_bread::before { content: "🍞 " ;}
#tag_breakfast::before { content: "🌅 " ;}
#tag_broccoli::before { content: "🥦 " ;}
#tag_cake::before { content: "🍰 " ; }
#tag_cheese::before { content: "🧀 " ; }
#tag_chicken::before { content: "🐔 " ;}
#tag_chinese::before { content: "🐉 " ; }
#tag_chocolate::before { content: "🍫 " ; }
#tag_christmas::before { content: "🎄 " ; }
#tag_cookies::before { content: "🍪 " ;}
#tag_corn::before { content: "🌽 " ;}
#tag_curry::before { content: "🍛 " ; }
#tag_dessert::before { content: "🍮 " ; }
#tag_dominican::before { content: "🇩🇴 " ;}
#tag_drink::before { content: "🍹 " ;}
#tag_duck::before { content: "🦆 " ; }
#tag_dumpling::before { content: "🥟 " ;}
#tag_dutch::before { content: "🇳🇱 " ;}
#tag_easter::before { content: "✝️ " ; }
#tag_eggs::before { content: "🥚 " ; }
#tag_english::before { content: "🏴󠁧󠁢󠁥󠁮󠁧󠁿 " ; }
#tag_fasting::before { content: "☦️ " ; }
#tag_filipino::before { content: "🇵🇭 " ; }
#tag_fish::before { content: "🐟 " ; }
#tag_french::before { content: "🇫🇷 " ; }
#tag_fruit::before { content: "🍇 " ; }
#tag_german::before { content: "🇩🇪 " ; }
#tag_greek::before { content: "🇬🇷 " ; }
#tag_indian::before { content: "🇮🇳 " ; }
#tag_irish::before { content: "🇮🇪 " ; }
#tag_israeli::before { content: "🇮🇱 " ; }
#tag_italian::before { content: "🇮🇹 " ; }
#tag_japanese::before { content: "🇯🇵 " ; }
#tag_lebanese::before { content: "🇱🇧 " ; }
#tag_lemons::before { content: "🍋 " ;}
#tag_liquour::before { content: "🥃 " ;}
#tag_lunch::before { content: "🍱 " ; }
#tag_mediterranean::before { content: "🫒 " ; }
#tag_méxico::before { content: "🇲🇽 " ; }
#tag_milk::before { content: "🥛 " ; }
#tag_mushrooms::before { content: "🍄 " ;}
#tag_pancake::before { content: "🥞 " ; }
#tag_pasta::before { content: "🍝 " ;}
#tag_pastry::before { content: "🧁 " ;}
#tag_peruvian::before { content: "🇵🇪 " ;}
#tag_pie::before { content: "🥧 " ;}
#tag_pizza::before { content: "🍕 " ; }
#tag_polish::before { content: "🇵🇱 " ;}
#tag_pork::before { content: "🐖 " ;}
#tag_portuguese::before { content: "🇵🇹 " ;}
#tag_potato::before { content: "🥔 " ; }
#tag_quebec::before { content: "⚜️ " ; }
#tag_quick::before { content: "🏃 " ; }
#tag_raw::before { content: "🍖 " ;}
#tag_rice::before { content: "🍚 " ; }
#tag_russian::before { content: "🇷🇺 " ;}
#tag_salad::before { content: "🥗 " ;}
#tag_sandwich::before { content: "🥪 " ;}
#tag_seafood::before { content: "🦐 " ; }
#tag_soup::before { content: "🍜 " ;}
#tag_sourdough::before { content: "🥖 " ;}
#tag_southwest::before { content: "🤠 " ; }
#tag_spanish::before { content: "🇪🇸 " ; }
#tag_spice::before { content: "🧂 " ; }
#tag_spicy::before { content: "🌶️ " ; }
#tag_spread::before { content: "🧈 " ; }
#tag_steak::before { content: "🥩 " ; }
#tag_stew::before { content: "🍲 " ; }
#tag_swedish::before { content: "🇸🇪 " ; }
#tag_sweet::before { content: "🍯 " ; }
#tag_swiss::before { content: "🇨🇭 " ; }
#tag_thai::before { content: "🇹🇭 " ;}
#tag_tomato::before { content: "🍅 " ;}
#tag_tunisian::before { content: "🇹🇳 " ; }
#tag_turkey::before { content: "🦃 " ; }
#tag_turkish::before { content: "🇹🇷 " ; }
#tag_ukrainian::before { content: "🇺🇦 " ; }
#tag_vietnamese::before { content: "🇻🇳 " ; }
#tag_wine::before { content: "🍷 " ; }

img {
  border-radius: 4px;
  max-width: 95%;
}
figcaption {
  font-size: 90%;
  font-style: italic;
}

#img-div {
  padding: 0px;
  margin: 0px;
}
#img-div p {
  margin: 0px;
  padding: 0px;
  font-size: 88%;
}

input,
input::placeholder {
  color: var(--fontColor);
}

.fundo-only-big {
  position: fixed; 
  width: 15em;
  right: 1em; 
  bottom: 1em; 
  z-index: -1;
}
@media only screen and (max-width: 800px){
  .fundo-only-big {
    display: none;
  }
}

[class^="carousel"] {
  padding: 1vw;
  padding-left: 0vw;
  margin-bottom: 2rem;
  width: fit-content;
  border-radius: var(--borderRadius);
  border: 1px solid var(--fontColor);
}
.slide {
}
.slide img{
  margin-left: 2vw;
  margin-bottom: 0vw;
  max-height: 60vh; 
}
div.slide a img {
}
.slide ul {
}
.slide li {
}
.button-container {
  margin-left: 0.5rem;
}
.conteudo div.slide {
}
.conteudo div.legend {
}
button[id^="proximo"] {
}
button[id^="anterior"] {
}
button[id^="proximo"], button[id^="anterior"] {
}
button[id^="anterior"] {
  padding-right: none;
}
button[id^="proximo"] {
  margin-left: .5rem;
}
button[id^="proximo"]:hover , 
button[id^="anterior"]:hover {
}
button[id^="proximo"]:active, 
button[id^="anterior"]:active{
}
.carousel.slide { 
}
.carousel.slide iframe {
}
.carousel.slide a{
}
.carousel.slide a[href]{
}
.conteudo .legend {
  margin-left: 0.5rem;
  font-size: 100%;
  color: var(--font); 
  font-style: italic;
}
.legend {
}
.legend p{
}
.carousel.slide a[href] img {
}

pre {
  white-space: space;
}
pre.mermaid {
  width: 93%;
  border: none;
  background: none;
}
.mermaid svg {
  align: center
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid var(--borderColor);
  overflow: hidden;
  margin-right: 5vw;
}
th {
  background: var(--darkerBg);
  border: 1px solid var(--borderColor);
}
th, td {
  border: 1px solid var(--borderColor);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

pre, blockquote {
  width: fit-content;
  padding-left: 1ch;
  margin: 2ch;
  margin-left: 0px;
  border-left: 1px solid tomato; 
  background: var(--vidro);
}
p code {
  border: none;
}

@keyframes blinkEmConstrucao {
  0% { color: black };
  50% { color: pink };
  100% { color: red };
}
.emConstrucao {
  font-weight: bold;
  animation: blinkEmConstrucao 2s infinite;
}

h1, h2, h3, h4, h5 {
  color: var(--headingsColor);
}

#greeting {
}


/* Inicializa o contador principal */
body {
    counter-reset: h1;
}

/* Estiliza o h1 e incrementa o contador h1 */
h1 {
    counter-reset: h2; /* Reseta o contador de h2 toda vez que encontra um h1 */
    counter-increment: h1;
}

h1::before, 
h2::before, 
h3::before, 
h4::before {
    color: var(--selectionColor);
}

h1::before {
    content: counter(h1) ". "; /* Exibe o número do h1 */
}
h2 {
    counter-reset: h3; 
    counter-increment: h2;
}
h2::before {
    content: counter(h1) "." counter(h2) ". "; /* Exibe h1.h2 */
}
h3 {
    counter-reset: h4; 
    counter-increment: h3;
}
h3::before {
    content: counter(h1) "." counter(h2) "." counter(h3) ". "; /* Exibe h1.h2.h3 */
}
h4 {
    counter-increment: h4;
}
h4::before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "; /* Exibe h1.h2.h3.h4 */
}
